@import url("https://fonts.googleapis.com/css2?family=Love+Light&family=Nunito:wght@200&display=swap");
body {
  background-color: #00040f !important;
  background-repeat: no-repeat;
}
.Header {
  .navbar {
    background-color: transparent !important;
  }

  .hoo {
    color: white;
    font-size: 18;
    font-family: "Poppins";
    font-weight: "600";
    word-wrap: "break-word";
  }
  .bank {
    color: #5ce1e6;
    font-size: 18;
    font-family: "Poppins";
    font-weight: "600";
    word-wrap: "break-word";
  }

  .headertext {
    color: #fff !important;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
  }
}

.Heropage {
  @media only screen and (max-width: 600px) {
    .herotext {
      margin-top: 10px;
      color: #fff;
      font-family: Poppins;
      font-size: 45px !important;
      font-style: normal;
      font-weight: 500 !important;
    }
    .generation {
      font-size: 45px !important;
    }
    .heroimg {
      width: 197px !important;
      height: 300px !important;
      flex-shrink: 0;
      margin-left: 0px !important;
    }
  }
  .herotext {
    color: #fff;
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 100.8px */
    letter-spacing: 0.72px;
  }

  .generation {
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 100.8px */
    letter-spacing: 0.72px;
    background: radial-gradient(
      64.33% 64.33% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heroimg {
    width: 669px;
    height: 674px;
    flex-shrink: 0;
    margin-left: 111px !important;
  }

  .heropara {
    color: rgba(255, 255, 255, 0.7);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
  }

  .labeltext {
    color: #fff !important;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    border-radius: 10px;
    background: linear-gradient(135deg, #272727 0%, #11101d 100%);
  }
  .discount {
    color: rgba(255, 255, 255, 0.6) !important;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .user {
    color: #fff;
    font-family: Poppins;
    font-size: 40.893px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 53.16px */
  }
  .active {
    background: radial-gradient(
      64.33% 64.33% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 20.446px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
  }
}

.Business {
  @media only screen and (max-width: 600px) {
    .shield-background {
      border-radius: 20px;
      background: linear-gradient(#2d2935, #14101d);
      box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
      width: 100% !important;
      height: 142px !important;
      flex-shrink: 0;
    }
    .text-wrapper {
      color: #fff;
      font-family: Poppins;
      font-size: 35px !important;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 76.8px */
      letter-spacing: 0.48px;
    }
  }
  .text-wrapper {
    color: #fff;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 76.8px */
    letter-spacing: 0.48px;
  }
  .text {
    color: rgba(255, 255, 255, 0.7);
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 30.6px */
    letter-spacing: 0.18px;
  }

  .button {
    color: #00040e;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    text-transform: capitalize;
    border-radius: 10px;
    background: linear-gradient(
      180deg,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    width: 170px;
    height: 56px;
    flex-shrink: 0;
  }

  .rewards {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
    letter-spacing: 0.18px;
    text-transform: capitalize;
  }
  .rewards-para {
    color: rgba(255, 255, 255, 0.7);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    // fill: rgba(9, 151, 124, 0.10);
  }
  .shield-background {
    border-radius: 20px;
    background: linear-gradient(#2d2935, #14101d);
    box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
    width: 470px;
    height: 115px;
    flex-shrink: 0;
  }
}

.Aboutus {
  @media only screen and (max-width: 600px) {
  .img-about{
   display: none;
  }
  }

  .img-about{

    width: 150px;

  } 
  .people {
    color: #fff;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; /* 81.6px */
  }
  .people-para {
    color: rgba(255, 255, 255, 0.7);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
    letter-spacing: 0.18px;
  }
  .card {
    border-radius: 20px;
    background: linear-gradient(#11101d, #6d6d6d, #11101d);
    border: none !important;
  }
  .card-text {
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 32.4px */
    letter-spacing: 0.36px;
    margin-top: 25px !important;
  }

  .founder {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
  }

  .leader {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.Service {
  @media only screen and (max-width: 600px) {
     
    .servicepara{
      color: rgba(255, 255, 255, 0.70);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.18px;
  padding-left: 30px;
  padding-bottom: 10px !important;
    }

    .button {
      color: #00040e;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 27px */
      text-transform: capitalize;
      border-radius: 10px;
      background: linear-gradient(
        180deg,
        #def9fa 0.89%,
        #bef3f5 17.23%,
        #9dedf0 42.04%,
        #7de7eb 55.12%,
        #5ce1e6 71.54%,
        #33bbcf 100%
      );
      width: 170px;
      height: 56px;
      flex-shrink: 0;
      border: none;
      margin-top: 10px !important;
      margin-bottom: 70px !important;
      margin-left: 30px !important;
    }
  }
  .container {
    border-radius: 20px;
    background: linear-gradient(154deg, #11101D 16.15%, #6D6D6D 57.81%, #11101D 93.23%);
    backdrop-filter: blur(5px);
    
  }

  .servicetext {
    color: #fff;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 67.2px */
    padding-top: 60px;
    padding-left: 30px;
   
  }

  .servicepara{
    color: rgba(255, 255, 255, 0.70);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */
letter-spacing: 0.18px;
padding-left: 30px;
padding-bottom: 60px;
  }
  .button {
    color: #00040e;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    text-transform: capitalize;
    border-radius: 10px;
    background: linear-gradient(
      180deg,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    width: 170px;
    height: 56px;
    flex-shrink: 0;
    border: none;
    margin-top: 110px;
  }

}

.Footer{
  .hoopara{
    color: rgba(255, 255, 255, 0.70);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
  }

  .list1{
    color: #FFF;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
margin-left: 30px;
  }

  .list{
    list-style: none;
  }

  .listcontent{
    color: rgba(255, 255, 255, 0.70);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
  }

  .line{
    color: #3F3E45;
  }
  .lowerfooter{
    display: flex;
    justify-content: space-between;
  }


  
  @media only screen and (max-width: 600px) {
   .footerpic{
    display: none;
   }
  }
}
